header {
    color: white;
    padding: 1em 2em;
    background: #4CAF50;
    margin-bottom: 2em;
    position: relative;
    -webkit-animation: show .3s linear 0 1 normal;
    animation: show .3s linear 0 1 normal;
}
header h2 {
    margin: 0;
    font-weight: 300;
}
header p {
    margin: 0 1em;
}
header paper-dropdown {
    color: #616161;
}
header paper-icon-button {
    padding: 0;
}

#addButton {
    background: #4CAF50;
    color: white;
    border-radius: 50%;
    padding: 1em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    transition: .3s;
}

    #addButton.hide {
        bottom: -7em;
    }

el-password:nth-child(even) /deep/ section:first-child {
    background: rgba(0, 0, 0, .1);
}

el-password:nth-child(2) /deep/ section:first-child {
    border-top: 1px solid;
}

@-webkit-keyframes show {
    from { top: -4em; }
    top { top: 0; }
}
@keyframes show {
    from { top: -4em; }
    top { top: 0; }
}