:host {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 5em;
    width: 100%;
    transition: .3s;
}

:host(.hide) {
    top: -25em;
}

section {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 24em;
}

:host > section {
    width: 20em !important;
}

h2 {
    margin-top: 0;
}

section section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
    padding: 0;
    box-shadow: none;
}

input {
    outline: none;
}

    input[type=checkbox] {
        margin: 0;
    }

    input[type=range] {
        margin: 1em;
        width: 93%;
    }

button {
    align-self: flex-end;
    background: transparent;
    border: none;
    outline: none;
}
